{% for comment in obj.comments %}<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;border-collapse:collapse;"><tr><td height="14" style="height:14px;line-height:14px;font-size:0;">&nbsp;</td></tr><tr><td bgcolor="#F6F0F8" style="padding:14px 16px;border-left:3px solid #694074;background-color:#F6F0F8;color:#24211F;font-size:15px;line-height:24px;"><p style="margin:0 0 5px;font-size:14px;line-height:21px;font-weight:bold;color:#694074;">{{ comment.label }}</p>{{ comment.text }}</td></tr></table>{% endfor %}
{% for check in obj.checks %}<p style="margin:13px 0 0;font-size:14px;line-height:23px;color:#24211F;"><strong>Önerilen kontrol:</strong> {{ check }}</p>{% endfor %}
