{# V5 view adapter: source/property policy lives in deterministic code, not HTML. #}
<tr><td class="px" style="padding:4px 34px 30px;"><table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;border-collapse:collapse;border-top:2px solid #D7CCC1;"><tr><td style="padding-top:18px;">
{% include 'components/object_header.html.j2' %}
{% include 'components/change_table.html.j2' %}
{% include 'components/ai_commentary.html.j2' %}
{% set in_object = true %}{% include 'components/scope_notes.html.j2' %}
</td></tr></table></td></tr>
